* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* HEADER */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*Relative to 1% of the height of the browser window size*/
    min-height: 10vh;
    background-color: #222233;
    font-family: 'Raleway', sans-serif;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: #AACCFF;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
} 
.nav-links > * {
    margin-left: 20px;
}

.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #AACCFF;
    margin: 5px;
    transition: all 0.3s ease; /* Pārveido uz x */
}

#logo {
    width: 150px;
    height: auto;
}

#logout-btn {
    color: #E84545;
}

#user-pic {
   margin-top: 4px;
   margin-left: 50px;
}

/*Mobile*/
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;/*Jo labajā pusē atrodas neaktivizētā mobile menu*/
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        background-color: #222233;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);/*Atrodas labajā malā neredzama*/
        transition: transform 0.5s ease-in;/*ieslaido pakāpeniski (animācija)*/
        z-index: 1;
    }
    .nav-links li {
        opacity: 0;/*Sākumā caurspīdīgs, neredzams, lai varētu animēt*/
    }
    .burger {
        display: block;
    }
    #user-pic {
        display: none;
    }
}

.nav-active {
    transform: translateX(0%);/*Kad uzkliko uz burger, tad ieslaido no labās puses*/
    z-index: 1;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*burgera līnijas pārveido par x*/
.burgerX .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burgerX .line2 {
    opacity: 0;
}
.burgerX .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
/* FOOTER */
footer{
    text-align: center;
    background: #222233;
    display: grid;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px 0;
    margin-top: auto;
}
footer p{
    font-size: 0.9rem;
    color: grey;
}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 15px 0 20px 0;
}
footer a{
    text-decoration: none;
    color: rgb(235, 233, 233);
    padding: 0 15px;
}
footer a:hover{
    text-decoration: underline;
}
/* INDEX PAGE */
.shadowbox{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 50;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #00000075;
} 
.single-column-form{
    background: #fafafa;
    padding: 30px;
    display: grid;
    grid-gap: 20px;
}
.two-column-form{
    background: #fafafa;
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}
#new-event .two-column-form div *{
    width: 100%;
}
#show-event-form{
    width: 100%;
    background: #e845452c;
    color: white;
    border: none;
    padding: 6px;
    font-size: 16px;
}
#show-event-form:hover{
    background: rgba(255,255,255,0.2);
    cursor: pointer;
}
.event-desc{
    word-break: break-all;
}
#close-event-form{
    width: 30px;
    float: right;
}