:root {
  --error: red;
  --light-text:white;
  --dark-text:black;
  --button:rgb(175, 175, 175);
  --button-disabled:rgb(216, 216, 216);
  --button-hover:rgb(141, 141, 141);
  --submit-button:#0275d8;
  --submit-button-hover:#44a8ff;
  --popup-radius: 0.2rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark-text);
  font-family: Arial, Helvetica, sans-serif;
}
.register-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px 45px;
  border-radius: 5px;
  background-color: white;
  user-select: none;
  display: grid;
  justify-items: center;
  gap: 15px;
}
.register-box input {
  outline: none;
  width: 300px;
  padding: 5px;
  font-size: 1em;
}
#username_msg, #password_msg, #verify_password_msg, #image_msg, #privacy_terms_msg {
  color: var(--error);
  width: 300px;
  font-size: 0.9em;
}
#msg {
  color: green;
}
#register {
  display: inline-block;
  background-color: var(--submit-button);
  color: var(--light-text);
  border-radius: 5px;
  padding: 0.5px 5px;
  cursor: pointer;
  padding: 10px;
}
.privacy-policy {
  text-align: left;
}
.privacy-policy input {
  width: 30px;
}
#privacy, #terms {
  color: #44a8ff;
  cursor: pointer;
}
.bounce {
  outline: 0;
  border:1px solid var(--error);
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}
@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
}

/* REUSEABLE CLASSES */
.shadowbox{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.192);
}
.center-content{
  display: grid;
  justify-items: center;
  align-items: center;
}

/* IMAGE UPLOAD */
#imageContainer{
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#imageContainer *{
  position: absolute;
  top: 0;
  left: 0;
}
#croppieImg{
  width: 100%;
}
#addImg{
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 50px;
  background: rgba(255, 255, 255, 0.459);
  transition: all 100ms ease;
  cursor: pointer;
  display: grid;
  align-items: center;
  color: var(--submit-button);
  text-shadow: 0 0 3px white;
}
#imageContainer:hover #addImg{
  opacity: 1;
}
#vanilla-demo{
  position: relative;
}
#myform{
  background: #fafafa;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.514);
}
#buttons-container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}
#croppieWindow .button{
  padding: 5px 10px;
  background: var(--button);
  border: none;
  border-radius: 5px;
}
#croppieWindow .button:hover{
  background: var(--button-hover);
  cursor: pointer;
}
#doneButton:disabled,#doneButton:disabled:hover{
  background: var(--button-disabled);
  cursor: default;
}
#doneButton:not(:disabled){
  background: var(--submit-button);
  color: var(--light-text);
}
#doneButton:not(:disabled):hover{
  background: var(--submit-button-hover);
}
#warn{
  position: absolute;
  background: #cfcfcf;
  width:100%;
  height:100%;
  padding: 10px;
  z-index: 3;
  cursor: pointer;
}

/* POPUP FOR PRIVACY POLICY */

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: 250ms opacity ease-in;
}
.popup-container {
  background-color: white;
  width: 40rem;
  padding: 1.5rem;
  border-radius: var(--popup-radius);
}
.popup-container > h1 {
  text-align: center;
}
.popup-container p {
  line-height: 1.5rem;
  border-top: 1px solid lightgray;
  padding: 1rem 0;
}
.popup-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
.popup-visible {
  opacity: 1;
  pointer-events: auto;
}
.btn-close {
  font-family: inherit;
  padding: 0.4rem 0.8rem;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--submit-button);
  border-radius: var(--popup-radius);
  background-color: var(--submit-button);
  color: white;
}