body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(17, 17, 17);
}

input {
  margin-bottom: 5px;
  outline: none;
  width: 300px;
  margin: 10px;
  padding: 5px;
  font-size: 1em;
}

.register-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 25px 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  user-select: none;
}

#username_msg, #password_msg, #verify_password_msg {
  color: red;
  width: 300px;
  font-size: 0.9em;
}

#msg {
  color: green;
}

#register {
  display: inline-block;
  background-color: #0275d8;
  color: white;
  border-radius: 5px;
  padding: 0.5px 5px;
  cursor: pointer;
  padding: 10px;
}

.bounce {
    outline: 0;
    border-color: red;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
}

@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
}