#username_msg, #password_msg, #verify_password_msg {
  color: red;
}

#msg {
  color: green;
}

#register {
  cursor: pointer;
}

.bounce {
    outline: 0;
    border-color: red;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
}

@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
}